@model VideoViewModel
<div class="col-md-3 col-xs-6 text-center">
    <div class="">
        <a href="/home/downloadaudio?type=vorbis&uri=@Model.AudioUrlMp4">
            <img src="@Model.PosterUrl" alt="@Model.title" class="img-responsive author-userpic center-block"><p></p>
        </a>
        <h5 class="team-member-title">@Model.title</h5>
        @*<a href="/home/downloadaudio?type=vorbis&uri=@Model.AudioUrlMp4">Download Vorbis</a>*@
    </div>
</div>



